/* Dark Shine theme newsletter stylesheet  */
body {
  background: #90140c;
  color: #212529;
  font-family: Arial, sans-serif;
  padding: 15px; }

a, a:visited {
  color: #600000;
  text-decoration: underline; }

a:hover {
  color: #140000;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  color: #8a0700; }

.card {
  margin-bottom: 1.5;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.card-header {
  border-bottom: 1px solid transparent; }

.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit; }
  .card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
    color: inherit; }

body {
  background: #f3f3f3; }
