//  $Id$ darkroom/scss/darkroom.scss: compile to make
/*  The Darkroom theme style sheet for Tiki Wiki CMS Groupware. */

@import "variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "_tiki-selectors.scss";
@import "../../base_files/scss/_external-scripts.scss";


// override for some cypht background colors
body.tiki.tiki-webmail {
    background-image: url('#{$imagePath}474747_5e5e5e_40.png');
}

.tiki_trackers {
	.icon-status-open, .icon-status-pending, .icon-status-closed {
		filter: drop-shadow(0px 0px 1px black);
	}
}
