/* Jqui theme (jqui.css) Flat theme option (flat.css)
	Thanks to garkpit for the random name.
	Visit http://themes.tiki.org for more information.*/
.topbar,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-collapse,
.tiki .bg-dark,
.card-header {
  background: #cccccc;
}
