// $Id$
//Custom styles for the FiveAliveHS Orange option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$light: #e77d4f;

$bg-light: #e77d4f !important;

$link-color: #c74b23;
$link-hover-color: #e77d4f;

// $btn-primary-bg: #e77d4f;
// $btn-primary-border: #ebac91;
// $btn-primary-focus-bg: #e15c22;
// $btn-primary-focus-border: #d65b27;
// $btn-primary-hover-bg: #e15c22;
// $btn-primary-hover-border: #c54e1b;
// $btn-primary-active-bg: #e15c22;
// $btn-primary-active-border: #c54e1b;
// $btn-primary-active-hover-bg: #c54e1b;
// $btn-primary-active-hover-border: #d65b27;
// $btn-primary-disabled-bg: #e77d4f;
// $btn-primary-disabled-border: #ebac91;
// $btn-primary-badge-color: #e77d4f;
// $btn-primary-badge-bg: #ffffff;

// $btn-secondary-bg: #e77d4f;
// $btn-secondary-border: #ebac91;
// $btn-secondary-focus-bg: #e15c22;
// $btn-secondary-focus-border: #d65b27;
// $btn-secondary-hover-bg: #e15c22;
// $btn-secondary-border: #c54e1b;
// $btn-secondary-active-bg: #e15c22;
// $btn-secondary-border: #c54e1b;
// $btn-secondary-active-hover-bg: #c54e1b;
// $btn-secondary-active-hover-border: #d65b27;
// $btn-secondary-disabled-hover-color: #e77d4f;
// $btn-secondary-disabled-hover-border: #ebac91;
// $btn-secondary-badge-color: #e77d4f;
// $btn-secondary-bg-color: #ffffff;

$navbar-dark-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #e77d4f;

$bg-dark: #063035;
$bg-light: #0a8794;
$card-border-color: #e77d4f;
$table-border-color: #e77d4f;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #f8e4dd;
$input-border: #fac5b1;
$input-border-top-color: #fac5b1;
$input-border-right-color: #fbf1ed;
$input-border-bottom-color: #fbf1ed;
$input-border-left-color: #fac5b1;

$dropdown-bg: #e77d4f;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #ae421f;
$dropdown-link-active-color: red;
$dropdown-link-active-bg: #c74b23;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #c74b23;
$pagination-color: #c74b23;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #e77d4f;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c74b23;
$pagination-active-border-color: #c74b23;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
		"light":			#ffffff,
		"dark":				#33140a
);

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #117485 !important;

$side-column-heading-color: #e77d4f;

$middle_outer-inset-shadow-bg: #33140a;
$footer_liner-card-inner-border: #ebdc14;

$footer-accent-color: #ebdc14;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #e77d4f;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #ae421f;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-light/*,
.tiki > .fixed-top.bg-light*/ {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44a23+0,c64b23+10,dc5823+34,e96023+58,f06423+87,f06423+100 */
  background: #c44a23; /* Old browsers */
  background: -moz-linear-gradient(left,  #c44a23 0%, #c64b23 10%, #dc5823 34%, #e96023 58%, #f06423 87%, #f06423 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44a23', endColorstr='#f06423',GradientType=1 ); /* IE6-9 */
}

.bg-dark {background: #33140a !important; }