/* Tiki stuff */
.groupmail .from_col {
	width: 20%;
}

.groupmail .action_col {
	width: 80px;
}

body {
	min-width: 100%;
}

.mobile .folder_cell {
	width: 100%;
	max-width: 100%;
}

.mobile .src_name {
	margin: 0;
}

.mobile .content_title .list_controls {
	border: none;
	background: #fff;
}

.mobile .user_settings table td {
	display: block;
	padding: 10px 15px;
	height: auto;
	width: 100%;
}

.mobile .user_settings table td:not(.settings_subtitle) {
	box-sizing: border-box;
}

.mobile .user_settings table td:not(.settings_subtitle):nth-child(1) {
	max-width: 33%;
	flex: 0 0 33.33%;
}

.mobile .user_settings table td:nth-child(2) {
	max-width: 66%;
	flex: 0 0 66.66%;
}

.mobile .user_settings table tr {
	display: flex !important;
	flex-wrap: wrap;
}

.mobile .user_settings input:not([type=checkbox]),
.mobile .user_settings select {
	width: 100%;
	text-align: left;
}

.mobile .nux_step_one,
.mobile .nux_step_two {
	padding-left: 30px;
	max-width: 85%;
}

.mobile .add_server {
	margin-left: 20px;
}

.mobile .server_count {
	margin-right: 20px;
}