// $Id$
//Custom styles for the FiveAliveHS Lemon option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$light: #f9a013;

$bg-light: #f9a013 !important;

$link-color: #c75a28;
$link-hover-color: #f9a013;

// $btn-primary-bg: #f9a013;
// $btn-primary-border: #ffc506;
// $btn-primary-focus-bg: #d2a100;
// $btn-primary-focus-border: #856600;
// $btn-primary-hover-bg: #d2a100;
// $btn-primary-hover-border: #c89900;
// $btn-primary-active-bg: #d2a100;
// $btn-primary-active-border: #c89900;
// $btn-primary-active-hover-bg: #d2a100;
// $btn-primary-active-hover-border: #856600;
// $btn-primary-disabled-bg: #f9a013;
// $btn-primary-disabled-border: #ffc506;
// $btn-primary-badge-color: #f9a013;
// $btn-primary-badge-bg: #ffffff;

// $btn-secondary-bg: #ffc506;
// $btn-secondary-border: #ffc506;
// $btn-secondary-focus-bg: #d2a100;
// $btn-secondary-focus-border: #856600;
// $btn-secondary-hover-bg: #d2a100;
// $btn-secondary-border: #c89900;
// $btn-secondary-active-bg: #d2a100;
// $btn-secondary-border: #c89900;
// $btn-secondary-active-hover-bg:#856600;
// $btn-secondary-active-hover-border: #856600;
// $btn-secondary-disabled-hover-bg: #ffc506;
// $btn-secondary-disabled-hover-border: #ffc506;
// $btn-secondary-badge-color: #ffc506;
// $btn-secondary-bg-color: #ffffff;

$navbar-dark-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #ffc506;

$bg-dark: #063035;
$bg-light: #0a8794;
$card-border-color: #e4af00;
$table-border-color: #1296a9;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #fdf1d0;
$input-border: #fee194;
$input-border-top-color: #83c5ce;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #83c5ce;

$dropdown-bg: #c75a29;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #b25025;
$dropdown-link-active-color: red;
$dropdown-link-active-bg: #c75a28;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #c75a28;
$pagination-color: #c75a28;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #f9a013;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c75a28;
$pagination-active-border-color: #c75a28;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
        "light":			#ffffff,
        "dark":				#2c1c04
);

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #117485 !important;

$side-column-heading-color: #e4af00;

$middle_outer-inset-shadow-bg: #2c1c04;
$footer_liner-card-inner-border: #ffc506;

$footer-accent-color: #ffc506;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #c75a29;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #b25025;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-light/*,
.tiki > .fixed-top.bg-light*/ {
  background: #977202;
  background: -moz-linear-gradient(left, #977202 0%, #f99f14 100%);
  background: -webkit-linear-gradient(left, #977202 0%,#f99f14 100%);
  background: linear-gradient(to right, #977202 0%,#f99f14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#977202', endColorstr='#f99f14',GradientType=1 );
}

.bg-dark {background: #2c1c04 !important; }