* text=auto !eol
tiki/Smarty/.cvsignore -text
tiki/Smarty/AUTHORS -text
tiki/Smarty/BUGS -text
tiki/Smarty/COPYING.lib -text
tiki/Smarty/CREDITS -text
tiki/Smarty/ChangeLog -text
tiki/Smarty/Config_File.class.php -text
tiki/Smarty/FAQ -text
tiki/Smarty/INSTALL -text
tiki/Smarty/NEWS -text
tiki/Smarty/QUICKSTART -text
tiki/Smarty/README -text
tiki/Smarty/RELEASE_NOTES -text
tiki/Smarty/RESOURCES -text
tiki/Smarty/Smarty.class.php -text
tiki/Smarty/Smarty_Compiler.class.php -text
tiki/Smarty/TESTIMONIALS -text
tiki/Smarty/TODO -text
tiki/Smarty/debug.tpl -text
tiki/Smarty/index.php -text
tiki/Smarty/misc/fix_vars.php -text
tiki/Smarty/plugins/block.tr.php -text
tiki/Smarty/plugins/calendar.tpl -text
tiki/Smarty/plugins/function.assign.php -text
tiki/Smarty/plugins/function.assign_debug_info.php -text
tiki/Smarty/plugins/function.counter.php -text
tiki/Smarty/plugins/function.cycle.php -text
tiki/Smarty/plugins/function.debug.php -text
tiki/Smarty/plugins/function.eval.php -text
tiki/Smarty/plugins/function.fetch.php -text
tiki/Smarty/plugins/function.html_options.php -text
tiki/Smarty/plugins/function.html_select_date.php -text
tiki/Smarty/plugins/function.html_select_time.php -text
tiki/Smarty/plugins/function.math.php -text
tiki/Smarty/plugins/function.popup.php -text
tiki/Smarty/plugins/function.popup_init.php -text
tiki/Smarty/plugins/modifier.capitalize.php -text
tiki/Smarty/plugins/modifier.count_characters.php -text
tiki/Smarty/plugins/modifier.count_paragraphs.php -text
tiki/Smarty/plugins/modifier.count_sentences.php -text
tiki/Smarty/plugins/modifier.count_words.php -text
tiki/Smarty/plugins/modifier.date_format.php -text
tiki/Smarty/plugins/modifier.debug_print_var.php -text
tiki/Smarty/plugins/modifier.default.php -text
tiki/Smarty/plugins/modifier.escape.php -text
tiki/Smarty/plugins/modifier.indent.php -text
tiki/Smarty/plugins/modifier.lower.php -text
tiki/Smarty/plugins/modifier.regex_replace.php -text
tiki/Smarty/plugins/modifier.replace.php -text
tiki/Smarty/plugins/modifier.spacify.php -text
tiki/Smarty/plugins/modifier.string_format.php -text
tiki/Smarty/plugins/modifier.strip_tags.php -text
tiki/Smarty/plugins/modifier.truncate.php -text
tiki/Smarty/plugins/modifier.upper.php -text
tiki/Smarty/plugins/modifier.wordwrap.php -text
tiki/Smarty/plugins/shared.make_timestamp.php -text
tiki/article_image.php -text
tiki/changelog.txt -text
tiki/db/tiki-db.php -text
tiki/db/tiki.sql -text
tiki/db/tiki_0.9to0.95.sql -text
tiki/doc/tiki.doc -text
tiki/doc/tiki.pdf -text
tiki/dump/new.tar -text
tiki/get_strings.php -text
tiki/img/css.gif -text
tiki/img/css1.png -text
tiki/img/html.png -text
tiki/img/mysql.gif -text
tiki/img/php.gif -text
tiki/img/rss.png -text
tiki/img/smarty.gif -text
tiki/img/tiki.jpg -text
tiki/index.php -text
tiki/lang/en/language.php -text
tiki/lang/en/old.php -text
tiki/lang/language.php -text
tiki/lang/old.php -text
tiki/lang/sp/language.php -text
tiki/lang/sp/old.php -text
tiki/lib/class.ezpdf.php.exe -text
tiki/lib/class_calendar.php -text
tiki/lib/tar.class.php -text
tiki/lib/tikilib.php -text
tiki/lib/userslib.php -text
tiki/lib/xmlrpc.inc -text
tiki/lib/xmlrpcs.inc -text
tiki/modules/cache/mod-Oso.tpl.cache -text
tiki/modules/cache/mod-Un[!!-~]pato.tpl.cache -text
tiki/modules/cache/mod-admin_menu.tpl.cache -text
tiki/modules/cache/mod-application_menu.tpl.cache -text
tiki/modules/cache/mod-calendar.tpl.cache -text
tiki/modules/cache/mod-dada.tpl.cache -text
tiki/modules/cache/mod-featured_links.tpl.cache -text
tiki/modules/cache/mod-last_galleries.tpl.cache -text
tiki/modules/cache/mod-last_modif.tpl.cache -text
tiki/modules/cache/mod-logged_users.tpl.cache -text
tiki/modules/cache/mod-login_box.tpl.cache -text
tiki/modules/cache/mod-logo.tpl.cache -text
tiki/modules/cache/mod-prueb.tpl.cache -text
tiki/modules/cache/mod-search_box.tpl.cache -text
tiki/modules/cache/mod-top_galleries.tpl.cache -text
tiki/modules/cache/mod-top_images.tpl.cache -text
tiki/modules/cache/mod-top_images_th.tpl.cache -text
tiki/modules/cache/mod-top_pages.tpl.cache -text
tiki/modules/cache/mod-user_galleries.tpl.cache -text
tiki/modules/cache/mod-user_pages.tpl.cache -text
tiki/modules/mod-featured_links.php -text
tiki/modules/mod-last_galleries.php -text
tiki/modules/mod-last_modif.php -text
tiki/modules/mod-logged_users.php -text
tiki/modules/mod-top_galleries.php -text
tiki/modules/mod-top_images.php -text
tiki/modules/mod-top_images_th.php -text
tiki/modules/mod-top_pages.php -text
tiki/modules/mod-user_galleries.php -text
tiki/modules/mod-user_pages.php -text
tiki/setup.php -text
tiki/show_image.php -text
tiki/styles/default.css -text
tiki/styles/tiki.css -text
tiki/templates/error.tpl -text
tiki/templates/footer.tpl -text
tiki/templates/header.tpl -text
tiki/templates/modules/mod-admin_menu.tpl -text
tiki/templates/modules/mod-application_menu.tpl -text
tiki/templates/modules/mod-calendar.tpl -text
tiki/templates/modules/mod-calendar.tpl.nocache -text
tiki/templates/modules/mod-featured_links.tpl -text
tiki/templates/modules/mod-last_galleries.tpl -text
tiki/templates/modules/mod-last_modif.tpl -text
tiki/templates/modules/mod-logged_users.tpl -text
tiki/templates/modules/mod-login_box.tpl -text
tiki/templates/modules/mod-login_box.tpl.nocache -text
tiki/templates/modules/mod-logo.tpl -text
tiki/templates/modules/mod-search_box.tpl -text
tiki/templates/modules/mod-top_galleries.tpl -text
tiki/templates/modules/mod-top_images.tpl -text
tiki/templates/modules/mod-top_images_th.tpl -text
tiki/templates/modules/mod-top_pages.tpl -text
tiki/templates/modules/mod-user_galleries.tpl -text
tiki/templates/modules/mod-user_galleries.tpl.nocache -text
tiki/templates/modules/mod-user_pages.php.nocache -text
tiki/templates/modules/mod-user_pages.tpl -text
tiki/templates/modules/mod-user_pages.tpl.nocache -text
tiki/templates/modules/user_module.tpl -text
tiki/templates/tiki-admin.tpl -text
tiki/templates/tiki-admin_hotwords.tpl -text
tiki/templates/tiki-admin_links.tpl -text
tiki/templates/tiki-admin_modules.tpl -text
tiki/templates/tiki-admin_topics.tpl -text
tiki/templates/tiki-admingroups.tpl -text
tiki/templates/tiki-adminusers.tpl -text
tiki/templates/tiki-adminusers_old.tpl -text
tiki/templates/tiki-app_bar.tpl -text
tiki/templates/tiki-assignpermission.tpl -text
tiki/templates/tiki-assignuser.tpl -text
tiki/templates/tiki-backlinks.tpl -text
tiki/templates/tiki-blog_post.tpl -text
tiki/templates/tiki-bot_bar.tpl -text
tiki/templates/tiki-browse_gallery.tpl -text
tiki/templates/tiki-browse_gallery_theme.tpl -text
tiki/templates/tiki-browse_image.tpl -text
tiki/templates/tiki-edit_article.tpl -text
tiki/templates/tiki-edit_blog.tpl -text
tiki/templates/tiki-edit_submission.tpl -text
tiki/templates/tiki-editpage.tpl -text
tiki/templates/tiki-featured_link.tpl -text
tiki/templates/tiki-galleries.tpl -text
tiki/templates/tiki-lastchanges.tpl -text
tiki/templates/tiki-likepages.tpl -text
tiki/templates/tiki-list_articles.tpl -text
tiki/templates/tiki-list_blogs.tpl -text
tiki/templates/tiki-list_cache.tpl -text
tiki/templates/tiki-list_gallery.tpl -text
tiki/templates/tiki-list_posts.tpl -text
tiki/templates/tiki-list_submissions.tpl -text
tiki/templates/tiki-listpages.tpl -text
tiki/templates/tiki-page.tpl -text
tiki/templates/tiki-page_bar.tpl -text
tiki/templates/tiki-pagehistory.tpl -text
tiki/templates/tiki-pagepermissions.tpl -text
tiki/templates/tiki-preview.tpl -text
tiki/templates/tiki-preview_article.tpl -text
tiki/templates/tiki-preview_post.tpl -text
tiki/templates/tiki-print.tpl -text
tiki/templates/tiki-print_article.tpl -text
tiki/templates/tiki-ranking.tpl -text
tiki/templates/tiki-read_article.tpl -text
tiki/templates/tiki-register.tpl -text
tiki/templates/tiki-removepage.tpl -text
tiki/templates/tiki-rollback.tpl -text
tiki/templates/tiki-searchresults.tpl -text
tiki/templates/tiki-show_page.tpl -text
tiki/templates/tiki-top_bar.tpl -text
tiki/templates/tiki-upload_image.tpl -text
tiki/templates/tiki-user_preferences.tpl -text
tiki/templates/tiki-userversions.tpl -text
tiki/templates/tiki-view_articles.tpl -text
tiki/templates/tiki-view_blog.tpl -text
tiki/templates/tiki-view_cache.tpl -text
tiki/templates/tiki.tpl -text
tiki/testrpc.php -text
tiki/tiki-admin.php -text
tiki/tiki-admin_hotwords.php -text
tiki/tiki-admin_links.php -text
tiki/tiki-admin_modules.php -text
tiki/tiki-admin_topics.php -text
tiki/tiki-admingroups.php -text
tiki/tiki-adminusers.php -text
tiki/tiki-adminusers_old.php -text
tiki/tiki-articles_rss.php -text
tiki/tiki-assignpermission.php -text
tiki/tiki-assignuser.php -text
tiki/tiki-backlinks.php -text
tiki/tiki-blog_post.php -text
tiki/tiki-blog_rankings.php -text
tiki/tiki-blog_rss.php -text
tiki/tiki-browse_gallery.php -text
tiki/tiki-browse_image.php -text
tiki/tiki-cms_rankings.php -text
tiki/tiki-edit_article.php -text
tiki/tiki-edit_blog.php -text
tiki/tiki-edit_submission.php -text
tiki/tiki-editarticle.php -text
tiki/tiki-editpage.php -text
tiki/tiki-featured_link.php -text
tiki/tiki-galleries.php -text
tiki/tiki-galleries_rankings.php -text
tiki/tiki-index.php -text
tiki/tiki-lastchanges.php -text
tiki/tiki-likepages.php -text
tiki/tiki-list_articles.php -text
tiki/tiki-list_blogs.php -text
tiki/tiki-list_cache.php -text
tiki/tiki-list_gallery.php -text
tiki/tiki-list_posts.php -text
tiki/tiki-list_submissions.php -text
tiki/tiki-listpages.php -text
tiki/tiki-login.php -text
tiki/tiki-logout.php -text
tiki/tiki-modules.php -text
tiki/tiki-pagehistory.php -text
tiki/tiki-pagepermissions.php -text
tiki/tiki-pagesetup.php -text
tiki/tiki-pdf.php -text
tiki/tiki-print.php -text
tiki/tiki-print_article.php -text
tiki/tiki-ranking.php -text
tiki/tiki-read_article.php -text
tiki/tiki-register.php -text
tiki/tiki-removepage.php -text
tiki/tiki-rollback.php -text
tiki/tiki-searchresults.php -text
tiki/tiki-setup.php -text
tiki/tiki-upload-image.php -text
tiki/tiki-upload_image.php -text
tiki/tiki-user_preferences.php -text
tiki/tiki-userversions.php -text
tiki/tiki-view_articles.php -text
tiki/tiki-view_blog.php -text
tiki/tiki-view_cache.php -text
tiki/tiki-wiki_rankings.php -text
tiki/tiki-wiki_rss.php -text
tiki/topic_image.php -text
tiki/xmlrpc.php -text
