_mods/Installed/*.txt
_smarty/templates_c
tiki/.htaccess
tiki/.project
tiki/.settings
tiki/ZendPlatform
tiki/ZendStudioServer
tiki/backups/*
tiki/bin/.htaccess
tiki/db/.htaccess
tiki/db/local.php
tiki/dummy.php
tiki/dump/*
tiki/images/.htaccess
tiki/img/.htaccess
tiki/img/wiki/*.gif
tiki/img/wiki/*.pad_xml
tiki/img/wiki_up/*
tiki/installer/.htaccess
tiki/lang/.htaccess
tiki/lib/.htaccess
tiki/lib/Galaxia/processes/*
tiki/lib/smarty
tiki/maps
tiki/mods
tiki/modules/.htaccess
tiki/modules/cache
tiki/modules/cache/*
tiki/phpmyadmin
tiki/project.index
tiki/temp/.htaccess
tiki/temp/article*
tiki/temp/cache
tiki/temp/dbg-watch.*
tiki/temp/sf*
tiki/temp/topic.*
tiki/templates/.htaccess
tiki/templates_c
tiki/tests/.htaccess
tiki/tiki-emptycache.php
tiki/var
