_mods/Installed/*.txt
_smarty/templates_c
tiki/.project
tiki/ZendStudioServer
tiki/backups/*
tiki/db/local.php
tiki/dummy.php
tiki/dump/*
tiki/img/wiki/*.gif
tiki/img/wiki/*.pad_xml
tiki/img/wiki_up/*
tiki/lib/Galaxia/processes/*
tiki/lib/smarty
tiki/modules/cache
tiki/modules/cache/*
tiki/phpmyadmin
tiki/project.index
tiki/temp/article*
tiki/temp/cache
tiki/temp/dbg-watch.*
tiki/temp/sf*
tiki/temp/topic.*
tiki/templates_c
tiki/templates_c/*%%*
tiki/templates_c/??
tiki/templates_c/??menu*
tiki/templates_c/_smarty_cached_paths
tiki/templates_c/cleancache.cmd
tiki/templates_c/preferences.php
tiki/tiki-emptycache.php
tiki/var
