/.buildpath
/.cache
/.htaccess
/.idea
/.lastup
/.metadata*
/.project
/.settings
/.svnrev
/ZendPlatform
/ZendStudioServer
/_htaccess
db/.htaccess
db/local.php
db/lock
db/virtuals.inc
/dummy.php
dump/*
files/[a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9][a-z0-9]
files/visorFreemind.swf
img/.htaccess
img/trackers/*
img/wiki/*.gif
img/wiki/*.pad_xml
img/wiki_up/*
installer/.htaccess
lang/.htaccess
/last.log
lib/.htaccess
lib/ckeditor4/skins
lib/smarty
lib/test/clover.xml
lib/test/core/Search/Index/test_index
lib/test/core/Search/test_index
lib/test/local.php
lib/test/templates_c
/maps
maps/*
/mods
modules/.htaccess
modules/cache
modules/cache/*
/nbproject
/phpmyadmin
/project.index
/svn-commit.tmp
temp/*
temp/cache/*
temp/mail_attachs/*
temp/public/*
templates/.htaccess
/templates_c
templates_c/*
tests/.htaccess
/tiki-emptycache.php
tiki_tests/tests
/var
/vendor
