// CSS for background images, etc. for original FiveAlive site header
.header_outer {
  -webkit-box-shadow: inset 0 30px 0 0 #942e1f;
  -moz-box-shadow: inset 0 30px 0 0 #942e1f;
  box-shadow: inset 0 30px 0 0 #942e1f;
}

.header_container { background: url('../images/siteheader.png') calc(50% - 400px) 0 no-repeat; }

