// $Id$
/* Lighty theme newsletter stylesheet */
//$web-font-path: "https://fonts.googleapis.com/css?family=News+Cycle:400,700";

//.web-font($path) {
//	@import url("${path}");
//}
//.web-font($web-font-path);

@import "../../base_files/scss/newsletter.scss";
@import "variables";

body { font-family: "News Cycle", "Arial Narrow Bold", sans-serif; }
