/*  The Akebi theme option file for the FiveAlive theme of Tiki Wiki CMS Groupware. */
.header_outer, .layout_basic #top_modules, .postbody-title, .tiki > .navbar.fixed-top.bg-light /*,
.tiki > .fixed-top.bg-light*/ {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a8794+0,169fb6+53,18a4bc+72,19a5bd+100 */
	background: #0a8794;
	/* Old browsers */
	background: -moz-linear-gradient(left, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a8794', endColorstr='#19a5bd',GradientType=1);
	/* IE6-9 */ }

.middle_outer {
	-webkit-box-shadow: inset 0 54px 0 0 #063035;
	-moz-box-shadow: inset 0 54px 0 0 #063035;
	box-shadow: inset 0 54px 0 0 #063035; }

.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li {
	background: #063035; }

a, .btn-link {
	color: #0b8a98; }

a:hover, .btn-link:hover, a:focus, .btn-link:focus {
	color: #18a3bb; }

hr {
	border-top: 1px solid #18a3bb; }

.table th, .table td {
	border-top: 1px solid #1296a9; }

.table > thead > tr > th {
	border-bottom: 2px solid #1296a9; }

.table > tbody + tbody {
	border-top: 2px solid #1296a9; }

.table .table {
	background-color: #fff; }

.table .table-bordered {
	border: 1px solid #1296a9; }

.table .table-bordered th, .table .table-bordered td {
	border: 1px solid #1296a9; }

.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9; }

.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
	background-color: #f5f5f5; }

.form-control {
	color: #555;
	background-color: #ddf8f9;
	background-image: none;
	border: 1px solid #b4f3fb; }

.navbar-dark .navbar-brand {
	color: #fff; }

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
	color: #e6e6e6;
	background-color: transparent; }

.navbar-default .navbar-text {
	color: #fff; }

.bg-dark .navbar-nav .nav-link {
	color: #fff; }
.bg-dark .navbar-nav .nav-link:hover, .bg-dark .navbar-nav .nav-link:focus {
	color: #f2f2f2;
	background: #003c4a; }

.navbar-dark .navbar-nav > li > a:hover, .navbar-dark .navbar-nav > li > a:focus {
	color: #f9f9f9; }

.navbar-dark .navbar-nav > .active > a, .navbar-dark .navbar-nav > .active > a:hover, .navbar-dark .navbar-nav > .active > a:focus {
	color: #fff; }

.navbar-dark .navbar-nav > .disabled > a, .navbar-dark .navbar-nav > .disabled > a:hover, .navbar-dark .navbar-nav > .disabled > a:focus {
	color: #fff;
	background-color: transparent; }

.navbar-dark .navbar-toggle {
	border-color: #ddd; }

.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
	background-color: #ddd; }

.navbar-dark .navbar-toggle .icon-bar {
	background-color: #888; }

.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
	border-color: transparent; }

.navbar-dark .navbar-nav > .open > a, .navbar-dark .navbar-nav > .open > a:hover, .navbar-dark .navbar-nav > .open > a:focus {
	color: #fff; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff; }

.navbar-dark .navbar-link:hover {
	color: #f9f9f9; }

.navbar-primary {
	background-color: #771e54;
	border-color: #4e1437; }

.navbar-primary .navbar-brand {
	color: #eee; }

.navbar-primary .navbar-brand:hover, .navbar-primary .navbar-brand:focus {
	color: #fff; }

.navbar-primary .navbar-text {
	color: #eee; }

.navbar-primary .navbar-nav > li > a {
	color: #eee; }

.navbar-primary .navbar-nav > li > a:hover, .navbar-primary .navbar-nav > li > a:focus {
	color: #fff; }

.navbar-primary .navbar-nav > .active > a, .navbar-primary .navbar-nav > .active > a:hover, .navbar-primary .navbar-nav > .active > a:focus {
	color: #fff; }

.navbar-primary .navbar-nav > .disabled > a, .navbar-primary .navbar-nav > .disabled > a:hover, .navbar-primary .navbar-nav > .disabled > a:focus {
	color: #444; }

.navbar-primary .navbar-toggle {
	border-color: #333; }

.navbar-primary .navbar-toggle:hover, .navbar-primary .navbar-toggle:focus {
	background-color: #333; }

.navbar-primary .navbar-toggle .icon-bar {
	background-color: #fff; }

.navbar-primary .navbar-collapse, .navbar-primary .navbar-form {
	border-color: #0d5865; }

.dropdown-menu {
	background-color: #005064;
	border: 1px solid rgba(0, 0, 0, 0.15); }

.dropdown-item a, .dropdown-item .btn.btn-link {
	color: #fff; }
.dropdown-item a:hover, .dropdown-item .btn.btn-link:hover, .dropdown-item a:focus, .dropdown-item .btn.btn-link:focus {
	color: #f2f2f2; }
.dropdown-item a:active, .dropdown-item .btn.btn-link:active, .dropdown-item a.active, .dropdown-item .btn.btn-link.active {
	color: red; }
.dropdown-item a.disabled, .dropdown-item .btn.btn-link.disabled, .dropdown-item a:disabled, .dropdown-item .btn.btn-link:disabled {
	color: #f2f2f2; }

.dropdown-item:hover, .dropdown-item .btn.btn-link:hover, .dropdown-item:focus, .dropdown-item .btn.btn-link:focus {
	background: #003c4a; }
.dropdown-item:active, .dropdown-item .btn.btn-link:active, .dropdown-item.active, .dropdown-item .btn.btn-link.active {
	background: #0b8a98; }
.dropdown-item .dropdown-header, .dropdown-item .btn.btn-link .dropdown-header {
	color: #fff; }
.dropdown-item .dropdown-divider, .dropdown-item .btn.btn-link .dropdown-divider {
	background: #005064; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #0b8a98; }

.pagination > li > a, .pagination > li > span {
	color: #0b8a98;
	background-color: #fff;
	border: 1px solid #ddd; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #18a3bb;
	background-color: #eee;
	border-color: #ddd; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	color: #fff;
	background-color: #0b8a98;
	border-color: #0b8a98; }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	color: #999;
	background-color: #fff;
	border-color: #ddd; }

.col2 .card-header, .col3 .card-header {
	border-bottom: 1px solid #169fb6; }

header.page-header {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: none; }

header.page-header a, header.page-header a.btn-link {
	color: #fff !important; }

.form-control {
	background-color: #ddf8f9;
	border-color: #83c5ce #fff #fff #83c5ce; }

input[type="checkbox"].preffilter-toggle-round:checked + label::before {
	background: #baf1f3; }

#footer {
	background: black;
	color: #f4f4f4;
	padding: 1px 0 2px 0;
	width: 100%; }

.footer {
	border-top: 1px solid #19a5be;
	border-bottom: 1px solid #19a5be; }

.footer_liner .card-header {
	color: #fff;
	border-bottom: 1px dotted #19a5be; }

.footer_liner legend, .footer_liner a, .footer_liner a:visited {
	color: #19a5be; }

.nav-tabs .nav-link {
	color: #000;
	background-color: #ddf8f9;
	border-color: #dee2e6 #dee2e6 #fff; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #fff;
	background-color: #003c4a; }

.postbody-title .title > .card-title a.link, .card-header a {
	color: #fff; }

.blog-postbody-title h2.panel-title {
	font-size: 20px; }

.postbody .card-header {
	background: #0a8794; }

.siteloginbar_popup .dropdown-menu > li > a {
	color: #fff; }

header.header .sitetitle, header.header .sitesubtitle {
	color: #0b8a98;
	text-shadow: none; }

.searchresults blockquote em, .highlight {
	background: #f2dede;
	color: #a94442;
	border-color: #ebccd1; }

.cssmenu_horiz li ul, .cssmenu_vert li ul {
	background-color: #005064;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-webkit-background-clip: padding-box;
	background-clip: padding-box; }

.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
	padding: 3px 20px;
	font-weight: normal;
	color: #fff;
	background: #005064; }

.topbar .navbar-nav > li > a, .topbar .navbar > li > a, .topbar .cssmenu_horiz > li > a {
	color: #fff; }

.chosen-container-multi .chosen-choices {
	background-color: #fff;
	color: #555;
	border: 1px solid #b4f3fb; }

.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container .chosen-drop, .chosen-container-multi .chosen-choices .search-choice {
	background-color: #ddf8f9;
	color: #555;
	border: 1px solid #b4f3fb; }

.chosen-container-single .chosen-search input[type="text"] {
	background-color: #ddf8f9;
	border: 1px solid #b4f3fb; }

.chosen-container .chosen-results li.highlighted {
	background-color: #003c4a;
	color: #f2f2f2; }

.autotoc > .nav {
	background: #005064; }

.autotoc * {
	color: #fff; }

.autotoc .nav > li > a:hover, .autotoc .nav .nav > li > a:hover {
	color: #f2f2f2;
	background: #2e1f39; }

#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
	color: #169fb6; }

footer#footer .footer_liner {
	border-top: 1px solid #19a5be;
	border-bottom: 1px solid #19a5be; }
footer#footer .footer_liner .card-header {
	border-bottom: 1px dotted #19a5be; }
