@charset "utf-8";
/* CSS Document */
@media print {
	.visible-print {
		display: block !important;
	}
	table.visible-print {
		display: table !important;
	}
	tr.visible-print {
		display: table-row !important;
	}
	th.visible-print,
	td.visible-print {
		display: table-cell !important;
	}
	.visible-print-block {
		display: block !important;
	}
	.visible-print-inline {
		display: inline !important;
	}
	.visible-print-inline-block {
		display: inline-block !important;
	}
	.hidden-print {
		display: none !important;
	}
}


