<?php
/*
If you run the following, you can use this file as-is to run tests:

mysql -u root -p
create database tiki_unit_test;
grant all privileges on tiki_unit_test.* TO 'tiki_tester'@'localhost' identified by 'tiki_tester_pass';
flush privileges;
\q
ln -s lib/test/local.php.dist lib/test/local.php

Note that acceptance tests do not use this file, it's still hardcoded in TikiAcceptanceTestDBRestorer
However, acceptance tests are currently skipped since they haven't been updated since 2010

But they would require:
create database tiki_accep_test;
grant all privileges on tiki_accep_test.* TO 'tiki_tester'@'localhost' identified by 'tiki_tester_pass';

See https://dev.tiki.org/Tiki-Unit-Testing for more info

*/
$db_tiki='mysqli';
$dbversion_tiki='20.0';
$host_tiki='localhost';
$user_tiki='tiki_tester';
$pass_tiki='tiki_tester_pass';
$dbs_tiki='tiki_unit_test';
$client_charset='utf8mb4';
